@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #e9dcb3;
    padding: 15px 300px;
}

footer {
    background-color: #e9dcb3;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a:link {
    font-size: 14px;
    color: #1f2937;
    text-decoration: none;
}

a:visited {
    color: #1f2937;
}

a:hover {
    text-decoration: underline;
}

.ptext {
    color: #1f2937;
}

.welcome {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 32px;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.welcome .right {
    flex-shrink: 0;
    width: auto;
}

.hero {
    color: #1f2937;
    font-weight: 900;
    font-size: 48px;
}

.button {
    padding: 7px 16px;
    width: 120px;
    background-color: #1f2937;
    color: #FFF;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
}

#img--1 {
    width: 430px;
    height: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 208px;
    margin: 48px 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 24px;
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card--2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container--2 {
    padding: 0 16px;
  }
  
  .container--2::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .button--2 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button--2:hover {
    background-color: #555;
  }

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    min-width: 0px;
    padding: 96px 192px;
}

.quote p {
    align-self: center;
    font-weight: 700;
    font-size: 24px;
    margin-left: 300px;
    color: #1f2937;
}

.quote em {
    align-self: center;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 16px;
    max-width: 600px;
    color: #1f2937;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 208px;
}

.container {
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-color: #1f2937;
    flex-wrap: wrap;
    color: #fff;
    padding: 48px;
    min-width: 0px;
    border-radius: 10px;
}

.container button {
    border: 1px solid #FFF;
    margin: 0 15px;
    flex-wrap: wrap;
}
